<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Devregister</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-dark navbar-fixed-top bg-dark bd-navbar">
        <div class="container-fluid">
          <%= button_to root_path, method: :get, class: 'nav-brand btn btn-info' do %>
            <i class="fa fa-user" aria-hidden="true"></i>
          <% end %>
          <% if user_signed_in? %>
            <div class="me-2">
              <%= button_to "Sair", destroy_user_session_path, class: 'btn btn-danger', method: :delete  %>
            <div>
          <% else %>
          <a class="navbar-brand" href="#">Dev Register</a>
            <div class="me-2">
              <a class="navbar-link btn btn-success" href="/users/sign_up">Cadastre-se</a>
              <a class="navbar-link btn btn-success" href="/users/sign_in">Login</a>
            </div>
          <% end %> 
        </div>
      </nav>
      <!-- Fixed navbar -->
    </header>
  
    <main class="flex-shrink-0">
      <div class="container">
        <p class='notice'><%= notice %></p>
        <p class='alert'><%= alert %></p>
        <%= yield %>
      </div>
    </main>
  
  </body>
</html>
